*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background-color: #f9f6f2;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto; 
}
.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Header */
header{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
header #applyFilter {
    font-size: 10px;
}
h1{
    margin-left: 15px;
}
.form-control{
    font-size: 10px;
}
.navbar{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    padding: .5rem 0;
}
.shoppingCart{
    border-radius: 5px;
    background-color: grey;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.icon-cart{
    position: relative;
    font-size: 10px;
    padding-right: 10px;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Products */
.card-img-top {
    height: 125px;
    object-fit: cover; 
    border-radius: 30px;
    padding: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-body > *:last-child {
    margin-top: auto;
}
/* cart */
.head{
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
h2, h3{
    font-size: 15px;
}
#cartItem p{
    font-size: 12px;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 7px;
}
.cart-item .row-img img {
    width: 50px;
    height: 35px;
    border-radius: 50%;
}
.cart-item p {
    flex: 1;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.fa-trash{
    margin-left: 5px;
}
.fa-trash:hover{
    cursor: pointer;
    color: red;
    margin-left: 5px;
}
.btn-primary{
    border-radius: 50px;
    font-size: 10px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-total{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
    font-size: 12px;
}

/* header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #category.form-control,
    #brand.form-control{
        margin-top: 10px;
    }
    #brand.form-control{
        margin-bottom: 10px;
    }
    .icon-cart{
        position: absolute;
        font-size: 10px;
        top: 130px;
        right: 10px;
    } */