*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    height: auto;
}
.container{
    background-color: #f9f6f2;
}
/* Header */
header{
    display: flex;
    align-items: baseline;
}
.navbar{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    padding: .5rem 0;
}
.shoppingCart{
    border-radius: 5px;
    background-color: grey;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Products */
.card-img-top {
    height: 125px;
    object-fit: cover; 
    border-radius: 30px;
    padding: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-body > *:last-child {
    margin-top: auto;
}
/* cart */
.head{
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
h2, h3{
    font-size: 15px;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 7px;
}
.cart-item p{
    font-size: 12px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash{
    margin-left: 5px;
}
.fa-trash:hover{
    cursor: pointer;
    color: red;
    margin-left: 5px;
}
.btn-primary{
    border-radius: 50px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}